.git
.env
node_modules
coverage
__tests__
__mocks__
**/__tests__
**/__mocks__
**/*.test.js
**/*.test.*.js
**/*.test.ts
**/*.test.*.ts
*.md
.eslint*
.prettierrc*
docker-compose.*
*.log
Dockerfile
coverage
.swagger*
.swc
